requests
tqdm
torchvision
transformers==4.56.2
pandas
huggingface-hub>=0.24
langchain
langchain_openai
pydantic
requests
diffusers==0.35.1
timm
kornia
accelerate
bitsandbytes
vllm
langgraph
autoawq
pydantic